#caixa{
    background-color: lawngreen;
    width: 300px;
    height: 300px;
    font-size: 4.5rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
}

#botao{
    font-size: 3rem;
}