body{
    background: url(image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1{
    background: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    background: linear-gradient(to top,#003366,#006633);
    padding: 10px;
    border-radius: 10px;
    color: white;
}