body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    margin: 30px 20px;
    background-color: rgb(0, 0, 0);
}

h1, p, div, input{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#tituloDaPagina{
    font-size: 60px;
    margin: 0;
}

.divCard{
    min-height: 200px;
    max-width: 700px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.75);
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    gap: 10px;
}

.divId{
    min-width: 50px;
    text-align: center;
}

.btnDeletar{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 100px;
    background-color: red;
    border: 2px solid rgb(165, 0, 0);
    border-radius: 15px;

    height: 50px;
    font-weight: bold;
    color: white;
}

.btnDeletar:hover{
    background-color: rgb(233, 0, 0);
    border: 2px solid rgb(150, 1, 1);
}

.btnDeletar:active{
    background-color: rgb(206, 0, 0);
    border: 2px solid rgb(117, 0, 0);
}

.btnAdicionar{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 150px;
    background-color: rgb(10, 216, 10);
    border: 2px solid green;
    border-radius: 15px;

    height: 50px;
    font-weight: bold;
    color: white;
}

.btnAdicionar:hover{
    background-color: rgb(8, 194, 8);
    border: 2px solid rgb(0, 102, 0);
}

.btnAdicionar:active{
    background-color: rgb(8, 165, 8);
    border: 2px solid rgb(0, 102, 0); 
}

#divAddCard{
    min-height: 200px;
    max-width: 700px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
}

#divAddCard h1{
    margin: 0;
}

input{
    height: 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.75);
    background-color: black;
}

input:focus {
    outline: none;
}

#divEscondida{
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99;

    display: none;
    justify-content: center;
    align-items: center;
}