.box{
    height: 150px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    font-size: 8em;
    border-radius: 15px;
}

#box_1{
    background-color: blue;
}

#box_2{
    background-color: red;
}

#box_3{
    background-color: green;
}

.boxes{
    display: flex;
    justify-content: start;
    align-items: center;

    flex-wrap: wrap;
    align-content: flex-start;

    column-gap: 1em;
    row-gap: 1em;

    border: 3px solid black;
    height: 90vh;
}